<!DOCTYPE html>
<html>
<head>
  <meta charset='utf-8'>
  <title>{{ page.title }}</title>
  <meta name="author" content="Isaac Hall" />
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/css/isaachall.css" rel="stylesheet">
  <link href="/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href='http://fonts.googleapis.com/css?family=Signika' rel='stylesheet' type='text/css'>

  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-30064464-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</head>
<body>

  <div class="container">
    <header>
      <h1>Isaac Hall</h1>
      <h3>Co-founder of <a href="http://recurly.com">Recurly</a> and
        <a href="http://syncplicity.com">Syncplicity</a></h3>
    </header>

    {{ content }}

    <footer>
      <p>&copy; Isaac Hall 2012</p>
    </footer>
  </div>
</body>
</html>
